<div class="row">
  <div class="large-12 columns">
    <h1>New Book</h1>
  </div>
</div>

<form action="/book/create" method="POST" enctype="multipart/form-data" >
  <div class="row">
    <div class="large-12 columns">
      <label>Issue No.
        <input type="text" name="issue_no" placeholder="01" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Issue Year.
        <input type="text" name="issue_year" placeholder="2557" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Issue Month.
        <input type="text" name="issue_month" placeholder="January" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Book Title:
        <input type="text" name="detail_title" placeholder="ขาดฉันแล้วเตินจะรู้สึก" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Book Description:
        <textarea name="detail_description" cols="30" rows="10" placeholder=""></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Cover Image:
        <input type="file" name="bookshelf_cover_image" />
      </label>
      <hr>
    </div>
    
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>PDF File:
        <input type="file" name="pdf_book" />
      </label>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Preview 1:
        <input type="file" name="preview1" />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Preview 2:
        <input type="file" name="preview2" />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Preview 3:
        <input type="file" name="preview3" />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Preview 4:
        <input type="file" name="preview4" />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Preview 5:
        <input type="file" name="preview5" />
      </label>
    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">
      <input type="submit" value="Submit" class="button">
    </div>
  </div>
</form>